<div >
  <div class="container">
    <img src="images/jimvang2.jpg" alt="Photo of Jim Vang" class="profile-photo">
    <h3>About</h3>
    <p>Hi, I am Jim Vang! I have a Chemistry background from the University of Minnesota (Twin Cities). I am pursuing a career in Web Development and graduated from Prime Digital Academy as a Full-Stack Software Engineer. I am very passionate about the tech world and eager to grow as a Web Developer in this ever-changing field. I would like to utilize the skills I gained from Prime Digital Academy as either a Front-End Developer or a Back-End Developer.</p>
    <p>Over the past three months, I’ve had the opportunity to grow and develop as a Full-Stack Software Engineer and am seeking an innovative, forward thinking company that will allow me to continue to do so. I’ve found software development to be rewarding, exciting, while also challenging!</p>
    <p>Chemistry and coding are similar. Taking known chemicals and mixing them to achieve a desired product is like writing lines of code to make something.</p>
  </div>
  <div class="container">
    <h3>Experience</h3>
    <p>The 20-weeks I’ve spent at Prime have taught me more than I ever imagined. I knew which stack I would be learning (MEAN Stack) and which area we would be focusing on, but I wasn’t expecting to learn more about myself as a lifelong learner and critical thinker. The amount of information that I’ve absorbed in 20-weeks makes me believe that I’m capable of picking up just about any language or technology out there. While I understand that it will take me time to master my craft, I know that I am headed in the right direction.</p>
  </div>
  <div class="container">
    <h3>Skills</h3>
    <p></p>
  </div>
</div>
