<div class="container">
  <div class="container">
    <img src="images/jimvang2.jpg" alt="Photo of Jim Vang" class="profile-photo">
    <h2>About</h2>
    <p>Hi, I am Jim Vang! I have a Chemistry background from the University of Minnesota, Twin Cities. I am pursuing a career in Web Development and graduated from Prime Digital Academy as a Full-Stack Software Engineer. I am very passionate about the tech world and eager to grow as a Web Developer in this ever-changing field. I would like to utilize the skills I gained from Prime Digital Academy as either a Front-end Developer or a Back-end Developer.</p>
    <p>I founded Chemistry and coding to be very similar. Taking known chemicals and mixing them to achieve a known product is like writing lines of code to make a wanted function. Working in the Chemistry field taught me how to work in a team to achieve project deadlines with high quality work. It also taught me how to follow guidelines and regulations to achieve desired results.</p>
    <p>Over the past three months, I’ve had the opportunity to grow and develop as a Full-Stack Software Engineer and I'm seeking an innovative, forward thinking company that will allow me to continue to do so. I’ve found software development to be rewarding and exciting, while also challenging!</p>
  </div>
  <div class="container">
    <h2>Experience</h2>
    <p>The time I spent at Prime taught me more than I ever imagined. I knew which stack I would be learning (MEAN Stack) and which area we would be focusing on, but I wasn’t expecting to learn more about myself as a lifelong learner and critical thinker. The amount of information that I absorbed during Prime makes me believe that I can picking up just about any language or technology out there. While I understand that it will take time to master new crafts, I know that I'm capable of finding success in whatever I dive into next.</p>
  </div>
  <div class="container">
    <h2>Techincal Skills</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3"><img src="images/html.png" class="skills"><span>HTML</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/css.png" class="skills"><span>CSS</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/js.png" class="skills"><span>JavaScript</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/jQuery.png" class="skills"><span>jQuery</span></div>

      <div class="col-xs-6 col-md-3"><img src="images/mongodb.png" class="skills"><span>MongoDB</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/angularjs.png" class="skills"><span>AngularJS</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/nodejs.png" class="skills"><span>Node.js</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/githublogo.png" class="skills"><span>Github</span></div>

      <div class="col-xs-6 col-md-3"><img src="images/postgresql.png" class="skills"><span>PostgreSQL</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/Bootstrap.png" class="skills"><span>Bootstrap</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/npm.png" class="skills"><span>npm</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/grunt.png" class="skills"><span>Grunt</span></div>

      <div class="col-xs-6 col-md-3"><img src="images/ajax.png" class="skills"><span>Ajax</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/heroku.png" class="skills"><span>Heroku</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/stackoverflow.png" class="skills"><span>Stack Overflow</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/filestack.png" class="skills"><span>Filestack</span></div>

      <div class="col-xs-6 col-md-3"><img src="images/git.png" class="skills"><span>Git</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/twilio.png" class="skills"><span>Twilio</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/postico.png" class="skills"><span>Postico</span></div>
      <div class="col-xs-6 col-md-3"><img src="images/robomongo.png" class="skills"><span>Robomongo</span></div>
    </div>
  </div>
  <div class="container">
    <h2>Learn More</h2>
    <p>If you’d like to find out more about how I work and my process of working with clients, please visit the <a href="/contact">contact</a> page. I welcome any additional questions and I'm always open to talk about new tech or just talk in general. Thank you!</p>
  </div>
  </div>
</div>
