<div class="container">
  <div class="container">
    <img src="images/jimvang2.jpg" alt="Photo of Jim Vang" class="profile-photo">
    <h2>About</h2>
    <p>Hi, I am Jim Vang! I have a Chemistry background from the University of Minnesota (Twin Cities). I am pursuing a career in Web Development and graduated from Prime Digital Academy as a Full-Stack Software Engineer. I am very passionate about the tech world and eager to grow as a Web Developer in this ever-changing field. I would like to utilize the skills I gained from Prime Digital Academy as either a Front-End Developer or a Back-End Developer.</p>
    <p>I founded Chemistry and coding to be very similar. Taking known chemicals and mixing them to achieve a desired product is like writing lines of code to make a dersied function.</p>
    <p>Over the past three months, I’ve had the opportunity to grow and develop as a Full-Stack Software Engineer and am seeking an innovative, forward thinking company that will allow me to continue to do so. I’ve found software development to be rewarding and exciting, while also challenging!</p>
  </div>
  <div class="container">
    <h2>Experience</h2>
    <p>The time I spent at Prime taught me more than I ever imagined. I knew which stack I would be learning (MEAN Stack) and which area we would be focusing on, but I wasn’t expecting to learn more about myself as a lifelong learner and critical thinker. The amount of information that I absorbed in 20 weeks makes me believe that I can picking up just about any language or technology out there. While I understand that it will take me time to master my craft, I know that I am headed in the right direction.</p>
  </div>
  <div class="container">
    <h2>Techincal Skills</h2>
    <div class="row">
      <div class="col-xs-6 col-md-4"><img src="images/html.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/css.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/js.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/jQurery.gif" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/githublogo.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/Boostrap.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/mongodb.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/angularjs.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/nodejs.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/npm.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/postgresql.png" class="skills"></div>
      <div class="col-xs-6 col-md-4"><img src="images/grunt.png" class="skills"></div>
    </div>
  </div>
  <div class="container">
    <h2>Learn More</h2>
    <p>If you’d like to find out more about how I work and my process of working with clients, please visit the <a href="/contact">contact</a> page. I welcome any additional questions and am always open to talk about new tech or just talk in general. Thank you!</p>
  </div>
  </div>
</div>
