<div class="wrapper">
  <div class="primary">
    <h3>Contact Details</h3>
    <p>I am currently looking for programming opportunities or internships that will challenge and give me more experience to grow in this field. If you have any questions, please don't hesitate to contact me.</p>
    <p>Thank you for taking the time to look at my web portfolio. I welcome any additional questions and am available by phone, email, and linkedin.</p>
  </div>
  <div class="secondary">
    <h3>Contact Information</h3>
    <ul class="contact-info">
      <li class="phone"><a href="tel:612-708-5347">612-708-5347</a></li>
      <li class="mail"><a href="mailto:vangjim15@gmail.com">vangjim15@gmail.com</a></li>
      <li class="linkedin"><a href="https://www.linkedin.com/in/jim-vang-283609133">Linkedin</a></li>
      <li class="github"><a href="https://github.com/jimvang8790">Github</a></li>
    </ul>
  </div>
</div>
