<div class="row">
    <div class="col-md-6 portfolio-item">
        <a href="https://stepupcheckin.herokuapp.com/">
            <img class="img-responsive" src="images/STEP-UP.jpg" alt="">
        </a>
        <h3>
            <a href="https://stepupcheckin.herokuapp.com/">STEP-UP Check-In</a>
        </h3>
        <p> Step-Up Check-In allows over 1600 interns to give weekly feedback on their work experiences via their mobile devices. Application administrators will be able to access and analyze this data through the application dashboard and provide additional support to students as needed based on their responses.</p>
    </div>

    <div class="col-md-6 portfolio-item">
        <a href="https://angler-wrangler.herokuapp.com/#/home">
            <img class="img-responsive" src="images/anglerwrangler.gif" alt="">
        </a>
        <h3>
            <a href="https://angler-wrangler.herokuapp.com/#/home">Angler Wrangler</a>
        </h3>
        <p>Angler Wrangler is a MEAN full-stack web application allowing users to track what type of fish they caught and where they caught it. This application allows users to register for an account/login to an existing account and begin to keep track their catches. The application will utilize a Google Map API allowing anglers to mark the exact location where they caught their prize fish. User can also upload a photo of their catch along with some detail information about that catch.</p>
    </div>

    <!-- <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Next Project Here</a>
        </h3>
        <p>Description of project here.</p>
    </div> -->
</div>
