<div class="profile"><h1>Github Profile</h1></div>
<hr class="line">
<div class="container">
  <div class="col-sm-6">
    <h3>Name: {{pc.items.name}}</h3>
    <h3>Profile Name: {{pc.items.login}}</h3>
    <h4>Link: <a ng-href="{{pc.items.html_url}}">{{pc.items.html_url}}</a></h4>
    <img ng-src="{{pc.items.avatar_url}}" class="gitImage">
  </div>
  <div class="col-sm-6">
    <h3>Public Repos: {{pc.items.public_repos}}</h3>
    <h3>Private Repos: {{pc.items.total_private_repos}}</h3>
    <h3>Followers: {{pc.items.followers}}</h3>
    <h3>Following: {{pc.items.following}}</h3>
    <h3>Public Gists: {{pc.items.public_gists}}</h3>
    <h3>Private Gists: {{pc.items.private_gists}}</h3>
    <h3>Collaborators: {{pc.items.collaborators}}</h3>
  </div>
</div>
