<div class="container">
  <div class="row">
    <!-- STEP-UP Check-In -->
    <div class="col-md-6 portfolio-item">
      <img class="img-responsive" src="images/STEP-UP.jpg" alt="">
      <h3>
        <a href="https://stepupcheckin.herokuapp.com/" target="_blank">STEP-UP Check-In</a>
      </h3>
      <p> STEP-UP train and place hundreds of Minneapolis youth in paid internships with top Twin Cities employers. Part of the City of Minneapolis STEP-UP program.<br><br>Step-Up Check-In, will allow students to give weekly feedback on their work experiences via their mobile devices. Application administrators will be able to access and analyze this data through the application dashboard and provide additional support to students as needed based on their responses.<br><br>Feel free to visit <a href="https://www.achievempls.org/stepupachieve" target="_blank">achievempls.org</a> to learn more about this awesome program.</p></p>
    </div>
    <!-- BounceTribe -->
    <div class="col-md-6 portfolio-item">
      <img class="img-responsive" src="images/bouncetribe.jpg" alt="">
      <h3>
        <a href="http://bouncetribe.com/" target="_blank">BounceTribe</a>
      </h3>
      <p>With a new generation of musicians using technology to record and produce music in their bedrooms, the process of making music has never been easier. However, it's also easy to feel alone without the input of others.<br><br>Our goal is to connect musicians and encourage the exchange of ideas and suggestions to help songwriters improve their songs and increase their confidence.<br><br>We are musicians who have struggled to get quality feedback and wanted to build a solution.<br><br>Interested in becoming part of the tribe? Join here at <a href="http://bouncetribe.com/" target="_blank">bouncetribe.com</a> to set up your account today.</p>
    </div>
    <!-- Agent Ave -->
    <div class="col-md-6 portfolio-item">
      <img class="img-responsive" src="images/agentave.jpg" alt="">
      <h3>
        <a href="https://www.myagentave.com/product/" target="_blank">Agent Ave</a>
      </h3>
      <p>Agent Ave is the latest productivity tool for Independent Insurance Agents to save time & drive sales.<br><br>Agent Ave takes the hassle out of managing carrier data  such as underwriting guidelines, ID/Passwords, industry contacts, sales reports and more. All data is accessible to all staff in one central location. Managing carrier data has never been easier.<br><br>Want to learn more? Visit <a href="https://www.myagentave.com/product/" target="_blank">myagentave.com</a> to set up your free account today.</p>
    </div>
    <!-- Angler Wrangler -->
    <div class="col-md-6 portfolio-item">
      <img class="img-responsive" src="images/anglerwrangler.gif" alt="">
      <h3>
        <a href="https://angler-wrangler.herokuapp.com/#/home" target="_blank">Angler Wrangler</a>
      </h3>
      <p>Angler Wrangler is a MEAN stack web application allowing users to track what type of fish they caught and where they caught it.<br><br>Anglers can now keep track of their catches by utilizing Google Map's API allowing them to mark their exact location where they caught that prize fish. Users can also upload a photo of their catch along with some detailed information about that catch.<br><br>Start wrangling today at <a href="https://angler-wrangler.herokuapp.com/#/home/" target="_blank">anglerwrangler.com</a> to set up your free account today.</p></p>
    </div>
    <!-- Original Template -->
    <!-- <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Next Project Here</a>
        </h3>
        <p>Description of project here.</p>
    </div> -->
  </div>
</div>
