/**************************
Home Page
***************************/
body{
  font-family: 'Roboto Condensed', sans-serif;
}

/*.jumbotron {
  padding-top: 170px;
  height: 350px;
  width: 100%;
  /*background: url("https://3.bp.blogspot.com/-Au9WgCXb09c/VvwrlnfBNTI/AAAAAAABc-E/jn0m4P8xTIcAX1Y5Bjq-JJchz9KhAE_xg/s1600/background.png");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;*/
/*}*/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background: #d3d3d3;
  border-color: #a9a9a9;
}

.nav {
  text-align: center;
  padding: 10px 0;
  margin-left: 20px 0 0;
}

.tabs {
  padding: 10px 10px;
}

.home {
  text-align: center;
}

.link {
  border-radius: 50%;
}

/**************************
About Page
***************************/



/**************************
Profile Page
***************************/



/**************************
Contact Page
***************************/



/**************************
Footer
***************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
