/**************************
Home Page
***************************/
body{
  font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron {
  padding-top: 170px;
  height: 350px;
  width: 100%;
  /*background: url("https://3.bp.blogspot.com/-Au9WgCXb09c/VvwrlnfBNTI/AAAAAAABc-E/jn0m4P8xTIcAX1Y5Bjq-JJchz9KhAE_xg/s1600/background.png");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;*/
}

.nav {
  text-align: center;

}

.tabs {
  padding: 10px 10px;
}

.home {
  text-align: center;
}

.link {
  border-radius: 50%;
}

/**************************
About Page
***************************/



/**************************
Profile Page
***************************/



/**************************
Contact Page
***************************/
